body {
  font-family: "Times New Roman", Times, serif;
}

.main_content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buscador {
  font-family: "Times New Roman", Times, serif;
}

.texto {
  width: 50%;
}

.text__search {
  background-color: #cdbaf4;
  border-radius: 0.5rem;
  padding: 0.1rem;
}
